extras/node_red_flow.json
[{"id":"2cc9c7c1176af4c8","type":"tab","label":"Flow 7","disabled":false,"info":"","env":[]},{"id":"caa3dc50ef179fc3","type":"dropbox in","z":"2cc9c7c1176af4c8","dropbox":"","filepattern":"/Apps/HealthFitExporter/*.fit","name":"","x":160,"y":180,"wires":[["520de280fb9d4f3a"]]},{"id":"520de280fb9d4f3a","type":"change","z":"2cc9c7c1176af4c8","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":240,"wires":[["baa32d334a239415"]]},{"id":"baa32d334a239415","type":"dropbox","z":"2cc9c7c1176af4c8","dropbox":"","filename":"","name":"","x":440,"y":160,"wires":[["6036ba1cfc6992ce"]]},{"id":"6036ba1cfc6992ce","type":"function","z":"2cc9c7c1176af4c8","name":"function 10","func":"var old_payload = msg.payload\nvar file1 = {\n   fieldname: 'file1',\n    value: old_payload, // The Buffer containing the file data\n    options: {\n        filename: msg.file,\n        contentType: 'application/octet-stream'\n    }\n };\nvar formData = {\n    file1: file1\n};\n\nmsg.payload=formData;\n\n\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"request","module":"request"}],"x":620,"y":220,"wires":[["835c2a1c65bcaac1"]]},{"id":"835c2a1c65bcaac1","type":"http request","z":"2cc9c7c1176af4c8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://RUNALYZEHOST/api/import/activity","tls":"","persist":true,"proxy":"","insecureHTTPParser":false,"authType":"basic","senderr":false,"headers":[{"keyType":"other","keyValue":"Accept-Langauge","valueType":"other","valueValue":"en"},{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"multipart/form-data"}],"x":770,"y":400,"wires":[[]]}]